body {
  background-color: #C5C1C0;
  font-family: 'Nunito Sans', sans-serif;
}

.quizForm, .css, .cSharp, .java, .ruby {
  display: none;
}

.panel {
  background-image: url('../img/background1.jpg');
  background-size: cover;
  padding-bottom: 30px;
  padding-left: 30px;
}

.mainHeading {
  text-align: right;
  color: #328CC1;
  text-shadow: 4px 2px #1D2731;
  padding-bottom: 15px;
  padding-right: 50px;
  padding-top: 10px;
}

.btn {
  color: #1D2731;
  background-color: #D98310;
  margin-right: 10px;
}

.well {
  color: #D98310;
  background-color: #1D2731;
  margin-top: 30px;
}

.questionLabel {
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
}

#formSubmit {
  margin-top: 30px;
}

img {
  height: 100px;
  width: auto;
  float: left;
  padding-right: 15px;
}
