.quizForm, .css, .cSharp, .java, .ruby {
  display: none;
}

.panel {
  background-color: teal;
  padding-bottom: 30px;
  padding-left: 30px;
}

.well {
  background-color: teal;
  margin-top: 30px;
}

.questionLabel {
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
}

#formSubmit {
  margin-top: 30px;
}

#cssPic {
  height: 100px;
  width: auto;
  float: left;
  padding-right: 15px;
}

#cSharpPic {
  height: 100px;
  width: auto;
  float: left;
  padding-right: 15px;
}

#javaPic {
  height: 100px;
  width: auto;
  float: left;
  padding-right: 15px;
}

#rubyPic {
  height: 100px;
  width: auto;
  float: left;
  padding-right: 15px;
}
